{% include '_navbar.html' %}
{% load account socialaccount %}

<!--{% for p in foodrecipe_post_posts %}-->
<!--    {{ p.title }}-->
<!--    {{ p.content }}-->
<!--{% if p.image %}-->
<!--        <p><img class="img-article-left thumb" src="{{ p.image.url }}"></p>-->
<!--{% endif %}-->
<!--{% endfor %}-->
{% for p in foodrecipe_post_posts %}
{{ p.title }}
{% for content in p.postcontent.all %}
{{ content.text }}
{% if content.image %}
<p><img class="img-article-left thumb" src="{{ content.image.url }}"></p>
{% endif %}
{% endfor %}
{% endfor %}
