{% include '_navbar.html' %}

<!--{{ foodrecipe_post_viewpost.title }}-->
<!--{% if foodrecipe_post_viewpost.image %}-->
<!--        <p><img class="img-article-left thumb" src="{{ foodrecipe_post_viewpost.image.url }}"></p>-->
<!--{% endif %}-->
<!--{{ foodrecipe_post_viewpost.content }}-->

{{ post.title }}
{% for content in post.postcontent_set.all %}
        {{ content.text }}
{% if content.image %}
        <p><img class="img-article-left thumb" src="{{ content.image.url }}"></p>
{% endif %}
{{ post.text }}
{% endfor %}