<!DOCTYPE html>
{% load crispy_forms_tags %}
<form action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% for form in post_content_formset %}
    <ul>
        <li>{{ form.text }}</li>
        <li>{{ form.image }}</li>
        <li>{{ form.type }}</li>
    </ul>
    {% endfor %}
    <button type="submit">Добавить</button>
<!--</form>-->
<!--<form action="{% url 'add_post' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--  {% for form in post_content_formset.forms %}-->
<!--       <tr class="{% cycle 'row1' 'row2' %} formset_row-{{post_content_formset.prefix }}">-->
<!--         {% for field in form.visible_fields %}-->
<!--                <td>-->
<!--                    {# Include the hidden fields in the form #}-->
<!--                     {% if forloop.first %}-->
<!--                           {% for hidden in form.hidden_fields %}-->
<!--                                 {{ hidden }}-->
<!--                           {% endfor %}-->
<!--                     {% endif %}-->
<!--                     {{ field.errors.as_ul }}-->
<!--                     <ul>{{ field }}</ul>-->
<!--               </td>-->
<!--          {% endfor %}-->
<!--     </tr>-->
<!--{% endfor %}-->
<!--    <button type="submit">Добавить</button>-->
<!--    </form>-->